*{
	padding:0px;
	margin:0px;
	outline:none;
}

body{
	background-color:#ffffff;
    color: black;
	font-family: Arial, Helvetica, sans-serif;
    border:none;
}

.bodycontainer{
	margin-top: 120px;
}

.forgetpassarea{
	position: relative;
	margin: auto;
	width: 400px;
	background-color: rgb(207, 214, 219);
	border-radius: 10px;
	padding:30px;
	box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.findpasstitle{
    padding-bottom: 10px;
    font-size: 20px;
}

.findpasstext{
    padding-bottom: 10px;
    font-size: 17px;
    text-align: justify;
}

form{
    overflow: hidden;
}

.forminput input{
    width: 378px;
    border: none;
    border-radius: 5px;
    padding: 15px 10px 15px 10px;
    margin: 10px 0px 15px 0px;
    font-size: 15px;
    font-weight: 500;
	outline: none;
}

.formbtn{
    display: inline;
}

.formbtn1 {
    width: 50%;
    float: left;
}

.formbtn1 button{
	width: 85%;
    height: 47px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #3366FF;
    outline: none;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

.formbtn2{
    width: 50%;
    float: left;
}

.formbtn2 input{
    border: none;
    border-radius: 5px;
    padding: 15px 10px 15px 10px;
    margin: 10px 0px 5px 0px;
    background-color: #3366FF;
    font-size: 15px;
    font-weight: bold;
    float: right;
    width: 85%;
    cursor: pointer;
    color: whitesmoke;
}

.formbtn2 input:hover{
    background-color: #5074d9;
}

.formbtn1 button:hover{
    background-color: #5074d9;
}

#validation{
	text-align: center;
    visibility: hidden;
	color: red;
    font-weight: 600;
    position: absolute;
}
